<html>
    <body>
        <h1 style="text-align:center;">Portal De Noticias</h1>
        <h4 style="text-align:center;">Trazemos as melhores noticias de tecnologia diariamente.</h4>
    </body>
</html>